body{
	margin:0; 
	overflow:hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

#wrapper{
	    position: absolute;
}
#webvr-ui{
	position:absolute;
	z-index:100;
	color:#fff;
	width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(255,255,255,0.3);
    #help{
    	margin-top: 20px;
    }
}
#webvr-exit{
	 background: rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    top:20px;
    right: 20px;
        z-index: 200;
}